services:
  bot:
    image: "ghcr.io/nedomru/bot:latest"
    container_name: nedomru_bot
    stop_signal: SIGINT
    restart: unless-stopped
    env_file:
      - ".env"

    depends_on:
      cache:
        condition: service_healthy

    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
        compress: "true"

    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 512M
        reservations:
          memory: 256M

  pg_database:
    image: postgres:13-alpine
    ports:
      - "5439:5432"
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    command: "postgres -c max_connections=150
             -c shared_buffers=512MB -c effective_cache_size=1536MB
             -c maintenance_work_mem=128MB -c checkpoint_completion_target=0.9 -c wal_buffers=16MB
             -c default_statistics_target=100 -c random_page_cost=1.1 -c effective_io_concurrency=200
             -c work_mem=3495kB -c min_wal_size=1GB -c max_wal_size=4GB -c max_worker_processes=2
             -c max_parallel_workers_per_gather=1 -c max_parallel_workers=2 -c max_parallel_maintenance_workers=1"
    env_file:
      - '.env'
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"

  cache:
    image: valkey/valkey:9-alpine3.23
    restart: unless-stopped

    command: >
      valkey-server --port $REDIS_PORT
      --save 20 1
      --loglevel warning
      --requirepass $REDIS_PASSWORD

    env_file:
      - ".env"

    volumes:
      - cache:/data

    networks:
      - stp_bots

    healthcheck:
      test: [ "CMD", "sh", "-c", "valkey-cli -p $$REDIS_PORT -a $$REDIS_PASSWORD ping | grep -q PONG" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s

    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 128M
        reservations:
          memory: 64M

